# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
__pycache__/
token.json
backend/data/materials
backend/backup/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_visualize/


# Temporary auth files
backend/auth_simple.py

# Backend environment
backend/.env

# ChromaDB
.chromadb/
backend/data/*
backend/data/chromadb/**/*.bin
